.taskItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  gap: .75rem;

  padding: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.taskInfo {
  display: flex;
  gap: .75rem;
  align-items: flex-start;
}

.taskInfo p {
  color: var(--gray-100);
  font-size: 0.875rem;
  word-break: break-all;
}

.taskInfo p.taskCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskItemContainer button {
  line-height: .875rem;
  background-color: transparent;
  outline: none;
  border: 0;
  color: var(--gray-300);
  border-radius: 4px;
}

.taskItemContainer button:last-child:hover {
  background: var(--gray-400);
}

.taskItemContainer button:last-child:hover path {
  fill: var(--danger);
}

.taskItemContainer button.buttonUnChecked:hover path{
  fill: var(--blue-700);
}

.taskItemContainer button.buttonChecked:hover path {
  fill: var(--purple-500);
}

.taskItemContainer button.buttonChecked:hover path:last-of-type {
  fill: var(--gray-100);
}

.circleContainer {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
}

.circle {
  width: 17.45px;
  height: 17.45px;
  border-radius: 100%;
  border: 1.3px solid var(--blue-500);
  transition: 0.1s;
}

.circleContainer:hover .circle{
  background-color: rgba(30, 111, 159, 0.2) ;
}